{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "indent": ["error", "tab"],
        "key-spacing": ["error", { "afterColon": true }],
        "object-curly-spacing": ["error", "always"],
        "switch-colon-spacing": ["error", {"after": true, "before": false}],
        "@typescript-eslint/no-non-null-assertion": "off"
    }
  }